:root {
	--light-turquoise: #b1f3f3;
	--button-bg: #6631e3;
	--button-color: #fff;
	--text-colour: #282828;
}

.container {
	height: 100%;
    display: flex;
    gap: 2rem;
}

@font-face {
    font-family: 'qurova';
    src: url('./fonts/qurovademomedium-pg4lz-webfont.woff2') format('woff2'),
         url('./fonts/qurovademomedium-pg4lz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}