.sidebar {
	margin: 1rem;
	background-color: var(--button-bg);
	position: sticky;
	top: 2rem;
	height: 90vh;
	border-radius: 2rem;
	padding-top: 2.5rem;
    /* padding-left: 2rem; */
	min-width: 20rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sidebar > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 2.5rem; */
}

.sidebar > ul > li:has(.active){
    /* border: 2px solid red; */
    background-color: #431ba3;
}

.sidebar li {
	list-style: none;
	display: flex;
	gap: .7rem;
    padding: 1.25rem 0;
    padding-left: 2rem;
	/* align-items: center; */
}

.sidebar li svg {
	width: 1.8rem;
	/* stroke: #fff; */
	height: 1.8rem;
    position: relative;
    top: .4rem;
}

.sidebar li  a {
	text-decoration: none;
	color: #fff;
	transition: color 0.2s ease-in-out;
}

.sidebar li > a {
    font-size: 1.8rem;
}

.sidebar .dropdown {
    width: 100%;
}

.sidebar .dropdown button {
    /* color: red; */
	border: none;
    background: none;
    color: #fff;
    cursor: pointer;
	font-size: 1.8rem;
}

.sidebar li:has(.dropdown) {
    position: relative;
    transition: height 2s;
}

.sidebar li:hover {
    background-color: #4e1fb9;
}

.sidebar .dropdown svg {
    position: absolute;
    /* right: -2rem; */
    right: 1rem;
    top: 1.7rem;
    transition: all .5s;
    
}

.sidebar .dropdown-content {
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
    padding: 1rem 0;
    background-color: #5127b4;
    width: 100%;
    border-left: .2rem solid #fff;
}

.sidebar .dropdown-content > a {
    padding: .5rem 2rem;
}

.sidebar .dropdown-content > a:hover {
    background-color: #431ba3;
}